<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Syscall</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../public/assets/img/logo.png" rel="icon" />
    <link
      href="../public/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="../https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../public/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../public/assets/vendor/icofont/icofont.min.css"
      rel="stylesheet"
    />
    <link
      href="../public/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../public/assets/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="../public/assets/vendor/venobox/venobox.css" rel="stylesheet" />
    <link href="../public/assets/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="../public/assets/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <!-- ======= Sidebar ======= -->
    <div class="navigation active">
      <ul>
        <li class="list">
          <a href="/inicio">
            <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
            <span class="title">Inicio</span>
          </a>
        </li>
        <li class="list">
          <a href="chamado/abrirChamado">
            <span class="icon"><ion-icon name="add-outline"></ion-icon></span>
            <span class="title">Novo Chamado</span>
          </a>
        </li>
        <li class="list">
          <a href="todosChamados">
            <span class="icon"
              ><ion-icon name="search-outline"></ion-icon
            ></span>
            <span class="title">Chamados Abertos</span>
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="icon"
              ><ion-icon name="documents-outline"></ion-icon
            ></span>
            <span class="title">Meus Chamados</span>
          </a>
        </li>
        <li class="list">
          <a href="faq">
            <span class="icon"><ion-icon name="help-outline"></ion-icon></span>
            <span class="title">FAQ</span>
          </a>
        </li>
        <li class="list">
          <a href="inicio/categorias">
            <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
            <span class="title">Recursos</span>
          </a>
        </li>
        <li class="list active">
          <a href="/perfil">
            <span class="icon"
              ><ion-icon name="person-outline"></ion-icon
            ></span>
            <span class="title">Perfil</span>
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="icon"
              ><ion-icon name="settings-outline"></ion-icon
            ></span>
            <span class="title">Configurações</span>
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="icon"
              ><ion-icon name="log-out-outline"></ion-icon
            ></span>
            <span class="title">Logout</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="toggle">
      <ion-icon name="menu-outline" class="open"></ion-icon>
      <ion-icon name="close-outline" class="close"></ion-icon>
    </div>
    <!-- ======= Fim Sidebar ======= -->

    <img id="logo-interna" src="../public/assets/img/LogoInterna.png" alt="" />

    <!-- Formulário para mudança de dados de perfil -->

    <form
      class="panel"
      name="login"
      id="form"
      method="POST"
      action="/updatePerfil"
    >
      <div class="form-group">
        <label for="nome" class="required">Nome</label><br />
        <input
          type="text"
          class="form-control input"
          id="exampleInputText"
          name="nome"
          required
          value="<%=usuario.nome%>"
          placeholder="Nome Completo"
        />
      </div>
      <div class="form-group">
        <label for="email" class="required">Email Institucional</label><br />
        <input
          type="email"
          class="form-control input"
          id="exampleInputEmail1"
          name="email"
          aria-describedby="emailHelp"
          required
          value="<%=usuario.email%>"
          placeholder="Email Institucional"
        />
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="registro" class="required" id="label-registro"
            >Tipo Usuário</label
          ><br />
          <select
            class="form-control select"
            name="TipoUsuario_codTipoUsuario"
            id="exampleFormControlSelect1"
          >
            <option value="0" selected>Selecione seu cargo</option>
            <option value="2">Professor</option>
            <option value="1">Aluno</option>
          </select>
        </div>
        <div class="form-group col">
          <label for="registro" class="required" id="label-registro"
            >Registro na Fatec</label
          ><br />
          <input
            type="text"
            name="registro"
            value="<%=usuario.registro%>"
            id="exampleInputText2"
            class="form-control input"
            placeholder="Matrícula"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="senha" class="required" id="senha_label">Senha</label><br />
        <input
          type="password"
          class="form-control input"
          id="exampleInputPassword1"
          name="senha"
          placeholder="Senha"
        />
      </div>
      <input
        type="submit"
        class="btn btn-primary cad-login salvar"
        name="enviar"
        id="enviar"
        value="Salvar"
      />
    </form>
  </body>

  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
  <script src="../public/assets/js/function.js"></script>
  <script src="../public/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../public/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
</html>
