<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Syscall</title>
  <link href="../public/assets/img/logo.png" rel="icon" />
  <link rel="stylesheet" href="../public/assets/css/style_antigo.css" />
  <link rel="stylesheet" href="../public/assets/css/style.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <!-- ======= Sidebar ======= -->
  <div class="navigation active">
    <ul>
      <li class="list">
        <a href="/inicio">
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="title">Inicio</span>
        </a>
      </li>
      <li class="list active">
        <a href="chamado/abrirChamado">
          <span class="icon">
            <ion-icon name="add-outline"></ion-icon>
          </span>
          <span class="title">Novo Chamado</span>
        </a>
      </li>
      <li class="list">
        <a href="/todosChamados">
          <span class="icon">
            <ion-icon name="search-outline"></ion-icon>
          </span>
          <span class="title">Chamados Abertos</span>
        </a>
      </li>
      <li class="list">
        <a href="#">
          <span class="icon">
            <ion-icon name="documents-outline"></ion-icon>
          </span>
          <span class="title">Meus Chamados</span>
        </a>
      </li>
      <li class="list">
        <a href="/faq">
          <span class="icon">
            <ion-icon name="help-outline"></ion-icon>
          </span>
          <span class="title">FAQ</span>
        </a>
      </li>
      <li class="list">
        <a href="/categorias">
          <span class="icon">
            <ion-icon name="list-outline"></ion-icon>
          </span>
          <span class="title">Recursos</span>
        </a>
      </li>
      <li class="list">
        <a href="/perfil">
          <span class="icon">
            <ion-icon name="person-outline"></ion-icon>
          </span>
          <span class="title">Perfil</span>
        </a>
      </li>
      <li class="list">
        <a href="#">
          <span class="icon">
            <ion-icon name="settings-outline"></ion-icon>
          </span>
          <span class="title">Configurações</span>
        </a>
      </li>
      <li class="list">
        <a href="#">
          <span class="icon">
            <ion-icon name="log-out-outline"></ion-icon>
          </span>
          <span class="title">Logout</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="toggle">
    <ion-icon name="menu-outline" class="open"></ion-icon>
    <ion-icon name="close-outline" class="close"></ion-icon>
  </div>
  <!-- ======= Fim Sidebar ======= -->

  <img id="logo-interna" src="../public/assets/img/LogoInterna.png" alt="" />

  <main id="conteudo">

    <h1>Perguntas Frequentes</h1>
    <section>
        <ul id="menu_faq">
            <li class="faqmenuli"><img src="../imagens/Seta_item.png" class="imgfaq" alt="seta indicando item da Faq.">Qual é meu e-mail institucional?
                <ul class="submenu_faq">
                    <li class="faqsubmenuli">
                        <p class="pfaq">O e-mail institucional é aquele que o usuário recebeu ao ser matriculado na Fatec. Para que seja válido, deverá ser como no exemplo abaixo:</p>
                        <p class="pfaq">usuario@fatec.sp.gov.br</p>
                    </li>
                </ul>
            </li>
            <li class="faqmenuli"><img src="../imagens/Seta_item.png" class="imgfaq" alt="seta indicando item da Faq.">Como eu encontro meu e-mail institucional?
                <ul class="submenu_faq">
                    <li class="faqsubmenuli">
                        <p class="pfaq">Seu e-mail institucional pode ser encontrado no portal academico <a href="https://siga.cps.sp.gov.br/aluno/login.aspx?" >SIGA</a>. Ou entre em contato com a secretaria academica da Fatec ZL.</p>
                        <p class="pfaq">f111acad@fatec.sp.gov.br</p>
                    </li>
                </ul>
            </li>
            <li class="faqmenuli"><img src="../imagens/Seta_item.png" class="imgfaq" alt="seta indicando item da Faq.">Qual o significado dos status dos chamados?
                <ul class="submenu_faq">
                    <li class="faqsubmenuli">
                        <p class="npfaq">AGUARDANDO APROVAÇÃO</p>
                        <p class="pfaq">Indica que o chamado está em análise pela equipe de TI.</p>
                        <p class="npfaq">ABERTO</p>
                        <p class="pfaq">Indica que o chamado está aberto para execução da solicitação.</p>
                        <p class="npfaq">AGENDADO</p>
                        <p class="pfaq">Indica que o serviço solicitado está agendado para execução da equipe de TI.</p>
                        <p class="npfaq">AGUARDANDO RESPOSTA</p>
                        <p class="pfaq">Indica que o chamado já foi executado e aguarda a validação do solicitante.</p>
                        <p class="npfaq">CONCLUÍDO</p>
                        <p class="pfaq">Indica que o chamado já foi executado pela equipe de TI.</p>
                        <p class="npfaq">REJEITADO</p>
                        <p class="pfaq">Indica que o chamado foi rejeitado pela equipe de TI.</p>
                        <p class="npfaq">CANCELADO</p>
                        <p class="pfaq">Indica que o chamado foi cancelado pela equipe de TI.</p>
                    </li>
                </ul>
            </li>
            <li class="faqmenuli"><img src="../imagens/Seta_item.png" class="imgfaq" alt="seta indicando item da Faq.">Como identificar o local onde está o equipamento com problema?
                <ul class="submenu_faq">
                    <li class="faqsubmenuli">
                        <p class="pfaq">Para que a equipe de TI posso localizar mais facilmente o equipamento, informe:</p>
                        <p class="pfaq">Departameto, Sala, Andar, Bloco</p>
                    </li>
                </ul>
            </li>
            <li class="faqmenuli"><img src="../imagens/Seta_item.png" class="imgfaq" alt="seta indicando item da Faq.">Como identificar o nome do computador?
                <ul class="submenu_faq">
                    <li class="faqsubmenuli">
                        <p class="pfaq">Para identificar o nome do computador siga os passos abaixo:</p>
                        <p class="pfaq">1 - Clique no botão do Windows localizado no canto inferior esquerdo.</p>
                        <p class="pfaq">2 - Digite o comando cmd para abrir o prompt de comando.</p>
                        <p class="pfaq">3 - Na janela do prompt de comando (CMD) digite o comando -> hostname  e pressione Enter.</p>
                        <p class="pfaq">Será exibido o nome do computador.</p>
                    </li>
                </ul>
            </li>
            <li class="faqmenuli"><img src="../imagens/Seta_item.png" class="imgfaq" alt="seta indicando item da Faq.">O que devo colocar na descrição do problema?
                <ul class="submenu_faq">
                    <li class="faqsubmenuli">
                        <p class="pfaq">Para facilitar a tratativa da solicitação é importante que o máximo de informações sejam colocadas no campo de descrição do problema.</p>
                        <p class="pfaq">Algumas dicas:</p>
                        <p class="pfaq">1 - Informe a data que identificou a falha.</p>
                        <p class="pfaq">2 - Informe sempre o nome do computador.</p>
                        <p class="pfaq">3 - Informe se a falha impossibilita o uso total ou parcial do equipamento.</p>
                        <p class="pfaq">4 - Indique se trata-se de uma falha de hardware ou software.</p>
                        <p class="pfaq">OBS.: Caso seja uma necessidade de instalação de software, será analisado se trata-se de uma instalação previamente autorizada.</p>
                    </li>
                </ul>
            </li>
            <li class="faqmenuli"><img src="../imagens/Seta_item.png" class="imgfaq" alt="seta indicando item da Faq.">O que seria o tipo do equipamento?
                <ul class="submenu_faq">
                    <li class="faqsubmenuli">
                        <p class="pfaq">Caso seja uma falha de hardware, é importante indicar se trata-se de CPU, Monitor, Mouse, Techado, Projetor Multimidia.</p>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</main>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="../public/assets/js/function.js"></script>
  <script src="../public/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../public/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
</body>

</html>